<%= form_for @question do |f| %>
  <%= render "layouts/form_errors", object: f.object %>

  <div class="small-12 medium-12 column" style="padding-bottom: 20px;">
    <%= f.label :Question, style: "font-size:20pt" %>
    <%= f.text_field :body %>
  </div>

  <div class="small-12 column" style="padding-bottom: 20px;">
    <%= f.label :description, style: "font-size:20pt" %>
    <%= f.text_area :description, rows: 10 %>
  </div>

  <div class="small-12 column">
    <%= f.label :required_skills, style: "font-size:20pt" %>
    <select data-placeholder="list the skills required!" style="width:100%;margin 20px" class="chosen-select" multiple tabindex="5">
      <option value=""></option>
      <% @categories.each do |category| %>
        <optgroup label="<%= category.name %>">
          <% category.skills.each do |skill| %>
            <option><%= skill.name %></option>
          <% end %>
        </optgroup>
      <% end %>
    </select>
  </div>

  <div class="small-12 column">
    <%= f.submit "Submit", class: "button radius", id: "sub-mit"%>
  </div>

<% end %>
