<div class="small-12 column white-marble">
  <h1 class="question-title">Active Unanswered Questions</h1>
</div>

<div class="small-12 column blue-marble">
  <table class="gridtable" width="100%">
    <tr>
    	<th>Question</th><th width="15%">User</th><th width="5%">Picture</th><th width="20%">time</th><th width="5%">Chat</th>
    </tr>
    <% @questions.each do |question| %>
    <tr>
    	<td><%= link_to question.body, question %></td>
      <td><%= question.user.name %></td>
      <td><a href="/users/<%= question.user.id.to_s %>" ><img src="<%= question.user.photo %>" style="width:40px;height:40px;" alt="photo"/></a></td>
      <td><%= question.created_at %></td>
      <td style="padding: 2px;">
        <div class="questions-2">
          <%= link_to "💬", "#",
          class: "btn btn-success btn-xs start-conversation button small success",
            "data-sid" => current_user.id, "data-rip" => question.user.id %>
        </div>
      </td>
    </tr>
    <% end %>
  </table>
</div>
