<div class="small-12 column background-box">
  <% if user_signed_in? %>
  <%= link_to "Profile", user_path(current_user.id),
  class: "small button radius right" %>
  <%= link_to "List of skills", skills_path,
  class: "small button radius right", style: "margin-right:5px;" %>
  <%= link_to "All Users", users_path,
  class: "small button radius right", style: "margin-right:5px;" %>
  <% end %>
  <div class="small-centered">
    <img src="http://i.imgur.com/SjSTIWz.png"
    alt="freeLanswers" style="width:250px;height:74px;">
  </div>
</div>

<div class="small-12 column background-box">
  <div> posted by <%= @question.user.name %> on
    <%= @question.created_at %></div>
  <h2> <%= @question.body %> </h2>
  <h3> <%= @question.description %> </h3>
</div>
