<div class="small-12 column white-marble">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-inputs">
      <%= f.input :first_name, label: 'First Name', required: true %>
      <%= f.input :last_name, label: 'Last Name', required: true %>
      <%= f.input :email, required: true %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, label: 'Password Confirmation', required: true %>
      <%= f.input :photo, label: 'Profile Picture URL (change default image below)' %>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "button round" %>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>
</div>
