<div class="small-12 column blue-marble">
  <div class="profpic">
    <img src="<%= current_user.photo %>" style="margin:25px;float:left;width:100px;height:100px;" alt="photo" />
  </div>
  <div id="transparent-blue">
  <h1> <%= @user.name %>  </h1>
  <h2>Email: <%= @user.email %> </h2>
  </div>
</div>

<div class="small-12 column white-marble" style="margin-top:50px">
  <div class="small-12 large-4 left">
    <% if @user == current_user %>
      <%= link_to "Add to your skills list", skills_path,
      class: "small button radius", style: "margin-left:5px;" %>
      <div class="small-12">
        <section class="block-list">
          <header>Your Skills</header>
          <ul id="ajax-list">
            <% @userskills.each do |userskill| %>
            <li>
              <%= userskill.skill.name %>: <%= userskill.endorsements.count %>
            </li>
            <% end %>
          </ul>
        </section>
      </div>
    <% else %>
      <%= link_to "Home", root_path, class: "button-expand"  %>
      <%= link_to "Your Profile", user_path(current_user.id),
      class: "button expand", style: "margin-left:5px;" %>
      <div class="small-12">
        <section class="block-list">
          <header><%= @user.name %>'s Skills</header>
          <ul id="ajax-list">
            <% @userskills.each do |userskill| %>
            <li id="endorsements-<%= userskill.id %>">
              <%= userskill.skill.name %>: <%= userskill.endorsements.count %> </li>
            <a href="#" class="profile-skill" user-id="<%= current_user.id %>"
              userskill-id="<%= userskill.id %>"
              id="user-skill-<%= userskill.id %>" >Endorse</a>
            <br>
            <% end %>
          </ul>
        </section>
      </div>
    <% end %>
  </div>

  <div class="charts block small-12 large-8 right"
  id="container" style="width: 605px; height: 490px; margin: 0 auto">
  </div>
</div>
