<!DOCTYPE html>
<html ng-app>
  <head>
    <title>FreelAnswers</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome'\
    '/4.1.0/css/font-awesome.min.css' %>
    <meta content='<%= user_signed_in? ? current_user.id : "" %>'
    name='user-id'/>
  </head>
  <body>

    <nav id="nav-main">
        <div><img class="navbar-logo small-2 columns" src="http://i.imgur.com/SjSTIWz.png"
        alt="freeLanswers"></div>
        <%- if current_user -%>
          <div class="the-a"><a href="/users/<%= current_user.id.to_s %>" style="padding-top:5px;">
            <img class="navbar-user-photo left" src="<%= current_user.photo %>" alt="photo"/>
            <h4 style="padding-top:5px; padding-left:10px;color:#663300;" class="right">
              <%= current_user.name %>
            </h4>
          </a>
          </div>
        <%- end -%>
            <ul style="margin-right:250px;">
              <%- if current_user -%>
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'Ask Something', new_question_path %></li>
                <li><%= link_to 'Browse Questions', questions_path %></li>
                <li><%= link_to 'Browse Skills', skills_path %></li>
                <li><%= link_to 'Go to Profile', user_path(current_user) %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              <%- else -%>
                <li>
                  <a href="#" data-reveal-id="myModal">
                    <div>Sign in</div>
                  </a>
                  <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                    <%= render "devise/sessions/modal" %>
                    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                  </div>
                </li>
                <li>
                  <div id="sign-up-nav">
                  <a href="#" data-reveal-id="myModal2">
                    Sign up
                  </a>
                  </div>
                  <div id="myModal2" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                    <%= render "devise/registrations/modal2" %>
                    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                  </div>
                </li>
              <%- end -%>
          </ul>
    </nav>

    <div id="nav-trigger">
        <span>Menu</span>
    </div>
    <nav id="nav-mobile"></nav>

    <div class="flash-messages">
      <%- flash.each do |key, value| -%>
        <div class="flash flash-<%= key %>">
          <%= value %>
        </div>
      <%- end -%>
    </div>

    <div class="row" style="margin-top:20px">

    <%= yield %>

    </div>
    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
  </body>
</html>
